<!DOCTYPE html>
<html>
    {{> head }}

    <body>
    {{> nav }}
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Sticky Snippets</h1>
        </div>
        {{>flash}}

        {{{body}}}

        {{> footer }}
    </div>
    </body>
</html>